.sidebar a:hover {
/*   color: #fff; */
color: #f1f1f1;
}
.sidebar .sidebar-projectName {
/*   color: #fff; */
color: #fff;
    }
.sidebar .sidebar-listNav li.selected, .sidebar .sidebar-listNav li.selected a, .sidebar .sidebar-listNav li:hover, .sidebar .sidebar-listNav li:hover a {
/*  border-color: #8e58cb; */
/*  color: #fff; */
border-color: #D21E2B;
color: #f1f1f1;
}
.sidebar #full-list li.group {
/*  color: #ddd; */
color: #fff;
}
.sidebar {
/*  background: #373f52; */
/*  color: #d5dae6; */
background: #111111;
color: #f1f1f1;
}
.sidebar a {
color: #d5dae6;
}
.sidebar .sidebar-projectVersion {
/*   color: #fff; */
color: #D21E2B;
}
.sidebar #full-list > li.current-page > a, .sidebar #full-list li a.expand span:hover {
/*  color: #fff; */
color: #f1f1f1;
}
body.night-mode, body.night-mode .content-outer {
/* background: #212127; */
background: #111111;
}