.sidebar-search {
    opacity:0;
}
.icon-menu {
    opacity:0;
}
.sidebar a:hover {
    color: #f1f1f1;
    }
.sidebar .sidebar-projectName {
    color: #fff;
        }
.sidebar .sidebar-listNav li.selected, .sidebar .sidebar-listNav li.selected a, .sidebar .sidebar-listNav li:hover, .sidebar .sidebar-listNav li:hover a {
    border-color: #D21E2B;
    color: #f1f1f1;
    }
.sidebar #full-list li.group {
    color: #fff;
    }
.sidebar {
    background: #111111;
    color: #f1f1f1;
    }
.sidebar a {
    color: #d5dae6;
    }
.sidebar .sidebar-projectVersion {
    color: #D21E2B;
    }
.sidebar #full-list > li.current-page > a, .sidebar #full-list li a.expand span:hover {
    color: #f1f1f1;
    }
body.night-mode, body.night-mode .content-outer {
    background: #111111;
    }
.sidebar .sidebar-search .search-input {
    background-color: #f9f9f9;
    color: black;
    }
