.sidebar a:hover {
color: #f1f1f1;
}
.sidebar .sidebar-projectName {
color: #fff;
    }
.sidebar .sidebar-listNav li.selected, .sidebar .sidebar-listNav li.selected a, .sidebar .sidebar-listNav li:hover, .sidebar .sidebar-listNav li:hover a {
border-color: #D21E2B;
color: #f1f1f1;
}
.sidebar #full-list li.group {
color: #fff;
}
.sidebar {
background: #111111;
color: #f1f1f1;
}
.sidebar a {
color: #d5dae6;
}
.sidebar .sidebar-projectVersion {
color: #D21E2B;
}
.sidebar #full-list > li.current-page > a, .sidebar #full-list li a.expand span:hover {
color: #f1f1f1;
}
body.night-mode, body.night-mode .content-outer {
background: #111111;
}
.sidebar .sidebar-search .search-input {
background-color: #b9b9b9;
color: black;
}
.autocomplete {
  color:#111111;
  background: #f1f1f1;
}
.autocomplete-suggestions {
  background: #f1f1f1;
  color:#111111;
}
.autocomplete-suggestions :hover {
  background: #f1f1f1;
  color:#111111;
  border-left: 1px solid #f1f1f1;
}
.autocomplete-suggestion {
  background: #f1f1f1;
  color:#111111;
}
.autocomplete a {
  background: #f1f1f1;
  color:#111111;
}
#search .result-elem em, #search .result-id em {
color:#D21E2B;
}
body.night-mode #search .result-id a:hover {
color:#D21E2B;
}
