/* HEADER */
.navigation,
.navigation-fixed-wrapper{
  background: none;
}
.navigation-fixed-wrapper{
  background: #ffffffe6;

}

header{

	.nav-brand{
		position: relative;
	}
	.big-logo{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: auto;
		opacity: 1;
	}

	.main-logo{
		opacity: 0;
		
	}
	.nav-brand{
		display: block;
	}
	.nav-header{
		@media only screen and (max-width: 991px) {
			padding: 0 20px;
		}	
	}
	&.fix .navigation,
	&.fix .nav-header,
	.nav-menu > li > a{

		@media only screen and (min-width: 991px) {
			height: 100px;
		}	



		transition: all 0.3s ease-in;
	}

	.nav-brand .main-logo{
		@media only screen and (min-width: 991px) {
			height: 50px;
		}	
	}

	.navigation{
		@media only screen and (min-width: 991px) {
			height: 50px;
		}	
	}
}




@media only screen and (min-width: 991px) {

	header.fix .navigation,
	header.fix .nav-header,
	header.fix .nav-menu > li > a
	{
		height: 50px;
	}
	header.fix .main-logo{
		opacity: 1;
		padding: 5px 0;
		height: 40px;

	}
	header.fix .big-logo{
		opacity: 0;
	}




}



/* DOWNLOAD PAGE */


.download-page .project-grid-overlay h4 a::after {
	display: none;
}
.download-page .project-grid-overlay a{
	padding-bottom: 10px;
	display: inline-block;
	line-height: 1.5rem;
}

.download-page .project-grid-overlay span{
	letter-spacing: 0.05rem;
	font-size: 0.7rem;
}

.download-page .project-grid-overlay{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.download-page .project-grid:hover p {
	top: 80%;
}


.download-page .swiper-button-next,
.download-page .swiper-button-prev{
	/*display: none;*/
}



.download-page .swiper-container{
	z-index: 1;
	height: 100%;
	padding: 40px 0 90px 0;
	margin-top: 40px;
}
.download-page .swiper-wrapper{
}
.download-page .swiper-slide{
	display: block;
}
.download-page .swiper-slide img{
	box-shadow: 0;
	transition: all 0.4s ease-out;
	transition-delay: 0.5s;
	transform: translateY(0px);
}

.download-page .swiper-slide.swiper-slide-active img{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.02);
	transform: translateY(-10px);
}

.download-page .swiper-slide .legend p{
	color:#000;
}

.download-page .swiper-slide .legend{
	position: absolute;
	bottom: -50px;
	width: 100%;
	z-index: 200;
	opacity: 0;
	transition: all 0.5s ease-out;
	transform: translateY(-10px);
}
.download-page .swiper-slide.swiper-slide-active .legend{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}
.download-page .swiper-slide{
}
.download-page .swiper-slide .int{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

/* DOWNLOAD PAGE */





/* INDEX */

.index-page h1, .bloging{
	font-weight: normal;
	font-size: 2.2rem;
	color: #d21e2b;
}
.index-page h2{
	font-size: 1rem;
	font-weight: normal;
	/*text-transform: uppercase;*/
}
.index-page .section-block{
	background: none;
}
.index-page .section-block.head{
	padding: 60px 0px 0px 0px;

	@media only screen and (min-width: 770px) {
		padding: 60px 0px 20px 0px;
	}

}
.index-page .section-block.slider-home{
	padding: 0px 0px 90px 0px;

	// margin-top: -40px;
	// @media only screen and (min-width: 770px) {
	// 	margin-top: 0px;
	// }

}
.index-page .project-single-box-info{
	overflow: hidden;
}
.index-page .project-info-shortcode-download{
	display: block;
	background-color: #d21e2b;
	transition:background 0.6s;
}
.index-page .project-info-shortcode-download h5, 
.index-page .project-info-shortcode-download p, 
.index-page .project-info-shortcode-download i{
	color: #fff;
}

.index-page .project-info-shortcode-download:hover{
	background-color: #e82735;
}







.index-page .swiper-button-next,
.index-page .swiper-button-prev{
	display: none;
}

.index-page .mockup:before,
.index-page .mockup:after
{
	content: "";
	background-color: #fff;
	height: 100%;
	position: absolute;
	z-index: 1;

	@media only screen and (max-width: 770px) {
		top: 0;
		width: 11%;
	}


}
.index-page .mockup:after{
	right: 0;
}
.index-page .mockup:before{
	@media only screen and (max-width: 770px) {
		left: 0;
	}


}


@media only screen and (min-width: 770px) {

	.index-page .mockup:before,
	.index-page .mockup:after{
		width:8%;
	}
	.index-page .swiper-container{
		width: 88%;
		height: 223px;
		margin-top: 147px
	}



}

@media only screen and (min-width: 992px) {

	.index-page .mockup:before,
	.index-page .mockup:after{
		width:8%;
	}
	.index-page .swiper-container{
		width: 87%;
		height: 297px;
		margin-top: 107px;
	}


}

@media only screen and (min-width: 1200px) {

	.index-page .mockup:before,
	.index-page .mockup:after{
		width:15%;
	}
	.index-page .swiper-container{
		width: 86%;
		height: 423px;
		margin-top: 13px;
	}

}


.index-page .swiper-slide .int{
	background-size: contain!important;
	height: 100%;
	width: 100%;
}

@media only screen and (min-width: 770px) {

	.index-page .swiper-slide .int{
		background-size: cover!important;
	}

}


.index-page .blog-grid-simple h4 a:before,
.index-page .blog-grid-simple-content a:after
{
	display: none;
}

.index-page .widget-slider{
	float: left;
	margin-bottom: 50px;

	@media only screen and (min-width: 770px) {
		margin-top: 54px;
		margin-bottom: 150px;
	}



}
.index-page .widget-description{
	float: left;
	margin-bottom: 30px;

	@media only screen and (min-width: 991px) {
		position: sticky;
		top: 90px;
		margin-bottom: 0px;
	}

	.project-info-shortcode-text{
		text-align: center;

		@media only screen and (min-width: 575px) {
			text-align: left;
		}

		@media only screen and (min-width: 991px) {
			text-align: left;
		}

	}


}



.index-page{


	.project-info-shortcode-download{
		.fa{
			transition:transform 0.6s;

		}
		&:hover .fa{
			transform: translateY(20%);
		}
	}


	.project-single-box-img{
		height: 100%;
		width: 100%;
	}

	.mockup{

		position: absolute;
		top: 0;left: 0;
		z-index: 99;
		width: 100%;height: 100%;
		pointer-events: none;

		.int{
			position: absolute;
			top: 0;left: 0;
			z-index: 99;
			width: 100%;height: 100%;
			background-size: contain!important;

		}

	}



	.swiper-slide{

		video{
			margin-top: 0.8%;
			width: 84.2%;
			height: 86%;
		}


	}



	.swiper-container {

		@media only screen and (min-width: 769px) {
		    width: calc(100% + 20px);
		    height: calc(100% + 20px);
		    margin-top: 0px;
		}

		@media only screen and (min-width: 1200px) {
		    width: calc(100% + 20px);
		    height: calc(100% + 20px);
		    margin-top: 0px;
		}


		@media only screen and (min-width: 1400px) {
		    width: 87%;
		}


	}
	.swiper-slide video{
		@media only screen and (min-width: 991px) {
			width: 84.2%;
		}

		@media only screen and (min-width: 1200px) {
	    	width: 82.2%;
		}
		@media only screen and (min-width: 1400px) {
			width: 84.2%;
		}



	}

}












.container{
	max-width: 1400px;
}





.team-page .section-heading h3{
	margin-bottom: 15px;
}
.team-page .section-heading p{
	margin-top: 0;
	padding-top: 0;
}






// DOWNLOAD PAGE
.img-popin{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 9999999;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease-in-out;
	opacity: 0;
	img{
		max-width: 90%;
		height: auto;
	}

	.close{
		display: block;
		position: absolute;
		bottom: 2%;
		left: 50%;
		transform:translateX(-50%);
	}

	&.show{
		opacity: 1;
	}



	&.hide{
		opacity: 0;
	}



}


.download-page{
	.project-grid-overlay{
		.down{
		    color: #111;
		    font-size: 15px;
		    font-weight: 400;
		    text-align: center;
		    position: relative;
		    opacity: 1;
		    height: 100%;

		}
		.int{
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		}
		a{
			display: block;
			display: inline-block;
			transition: color 0.2s;
			margin: 0 3px;
			&:hover{
				color: #d21e2b;
			}
		}
		.title{
		    font-size: 20px;

		    position: absolute;
		    top: 10%;
		    width: 100%;
		    text-align: center;
			color: #d21e2b;
			cursor: default;

		}
		p,span{
			cursor: default;
		}


	}

}


// DOWNLOAD PAGE

.team-member-text{
	padding: 20px 20px;
}



.partner-box img{
	width: 80%;
	margin-left: 10%;
	object-fit: contain;
}



.footer-list li a:before{
	content: ">";
}

.blog-grid-simple-content a:after{
	content: ">";
}


// BLOG PAGE
.index-page,
.blogging{
	.blog-grid-simple{
		padding-top: 0;
		img{
			margin: 0 -30px;
			width: calc(100% + 60px);
			max-width: calc(100% + 60px);
			margin-bottom: 30px;
		}
	}
	.col-5.right-holder p{
	    color: #d21e2b;
	    font-weight: 600;
	    font-size: 14px;
	    margin-top: 2px;
	}
}
.single-blog{
	padding: 50px 0;

		.col-lg-8.offset-lg-2.text-center .list-inline.mb-50{
			li{

				&:before{
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;

					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					font-size: 15px;

					margin-right: 5px;


				}


				&:nth-child(1){
					&:before{
						content: "\f007";
					}

				}


				&:nth-child(2){
					&:before{
						content: "\f073";
					}

				}



			}
		}



	.post-single-content{




		h1{
			font-size: 1.5rem;
			margin-bottom: 5px;
		}

		ul{
			padding:10px 0;
			margin-left:10px;
			li{
				position:relative;
				padding-bottom:5px;
				line-height: 150%;

				&:before{
					content: "• ";
					position:absolute;
					left: -10px;
				}
			}
		}


		p, li, a, span{
			font-size: 15px;
			font-weight: 400;
			line-height: 200%;
		}

		a{
			color: inherit;

			width: calc(100%);
			background-image: linear-gradient(transparent calc(100% - 1px),#999 0px);
			background-repeat: no-repeat;
				background-size: 100% 100%;
			transition: background-size 0.4s cubic-bezier(0.9,0,0.1,1);
			&:hover{
				background-size: 0% 100%;
			}


		}


	}

}

// BLOG PAGE

